<!-- <ion-card no-margin margin-top class="pagseguro" *ngIf="!paymentMethods" color="dark"> -->
<ion-row class="pagseguro" align-items-center *ngIf="!paymentMethods">
  <ion-col col-2 col-md-1>
    <ion-spinner></ion-spinner>
  </ion-col>
  <ion-col>
    <p>Carregando opções de pagamento...</p>
  </ion-col>
</ion-row>
<!-- </ion-card> -->

<!-- <ion-card no-margin margin-top class="pagseguro" *ngIf="paymentMethods" color="dark"> -->
<form [formGroup]="paymentForm" class="pagseguro" *ngIf="paymentMethods" no-padding no-margin margin-top>
  <p margin-top ion-text color="secondary">Forma de pagamento</p>
  <ion-segment color="primary" formControlName="paymentMethod">
    <ion-segment-button value="card">
      <ion-icon name="card"></ion-icon>
      <label>Cartão</label>
    </ion-segment-button>
    <ion-segment-button value="boleto">
      <ion-icon name="barcode"></ion-icon>
      <label>Boleto</label>
    </ion-segment-button>
    <!-- <ion-segment-button value="debito">
          <ion-icon ios="ios-at-outline" md="md-at"></ion-icon>
        </ion-segment-button> -->
  </ion-segment>

  <ion-list no-padding no-margin inset>
    <!-- Formulario de cartao de credito -->
    <!-- <div *ngIf="paymentForm.value.paymentMethod == 'card'"> -->
    <div formGroupName="card" *ngIf="paymentForm.value.paymentMethod == 'card'">
      <ion-item>
        <ion-label stacked>Número do cartão
          <ion-note margin-left ion-text color="danger" *ngIf="(paymentForm.get('card').hasError('number') || paymentForm.get('card').get('cardNumber').hasError('maxlength')) && paymentForm.get('card').get('cardNumber').touched">Número de cartão inválido</ion-note>

          <ion-note *ngIf="cardBrand && !paymentForm.get('card').get('cardNumber').invalid" color="primary"><img [src]="getCardImage()" padding-left></ion-note>
        </ion-label>
        <ion-input type="number" formControlName="cardNumber" [attr.maxlength]="16" (ionChange)="getBrand()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nome impresso no cartão
          <ion-note margin-left ion-text color="danger" *ngIf="!paymentForm.get('card').get('name').valid && paymentForm.get('card').get('name').touched">Campo obrigatório</ion-note>
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label stacked>Validade (mês/ano)
          <!-- <ion-note margin-left ion-text color="danger" *ngIf="paymentForm.get('card').hasError('number') && paymentForm.get('card').get('cardNumber').touched">Número de cartão inválido</ion-note> -->
        </ion-label>
        <ion-datetime displayFormat="MM/YYYY" max="2050-12-31" min="2016-01-01" doneText="OK" cancelText="Cancelar" formControlName="validity" no-margin></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label stacked>Código de segurança</ion-label>
        <ion-input type="number" formControlName="cvv" [attr.maxlength]="6"></ion-input>
      </ion-item>

      <p no-margin no-margin margin-top ion-text color="secondary">Endereço do titular do cartão</p>

      <ion-item>
        <ion-label stacked>CEP</ion-label>
        <ion-input type="number" formControlName="zip" [attr.maxlength]="8"></ion-input>
      </ion-item>



    </div>



  </ion-list>

  <ion-row>
      <ion-col right text-right>
        <button ion-button color="primary" icon-right (click)="checkout()" [disabled]="!paymentForm.valid || processing">
        Efetuar pagamento
      </button>
      </ion-col> 
  </ion-row>
</form>


<!-- <ion-list style="margin: 0" inset>
        <button ion-item *ngFor="let sItem of getSafariItems(safari)">
          <ion-icon item-start [name]="sItem.icon" color="primary"></ion-icon>
          {{ sItem.name }}
        </button> 
      </ion-list> -->
<!-- </ion-card-content> -->
<!-- </ion-card> -->