<!-- <ion-card no-margin margin-top class="pagseguro" *ngIf="!paymentMethods" color="dark"> -->
<ion-row class="pagseguro" align-items-center *ngIf="!paymentMethods">
  <ion-col col-2 col-md-1>
    <ion-spinner></ion-spinner>
  </ion-col>
  <ion-col>
    <p>Carregando...</p>
  </ion-col>
</ion-row>
<!-- </ion-card> -->
 
<!-- <ion-card no-margin margin-top class="pagseguro" *ngIf="paymentMethods" color="dark"> -->
<form [formGroup]="paymentForm" class="pagseguro" *ngIf="paymentMethods" no-padding no-margin margin-top>
  <p margin-top ion-text color="secondary">Forma de pagamento</p>
  <ion-segment color="primary" formControlName="paymentMethod">
    <ion-segment-button value="card">
      <ion-icon name="card"></ion-icon>
      <label>Cartão</label>
    </ion-segment-button>
    <ion-segment-button value="boleto">
      <ion-icon name="barcode"></ion-icon>
      <label>Boleto</label>
    </ion-segment-button>
    <!-- <ion-segment-button value="debito">
          <ion-icon ios="ios-at-outline" md="md-at"></ion-icon>
        </ion-segment-button> -->
  </ion-segment>

  <ion-list no-padding no-margin>
    <!-- Formulario de cartao de credito -->
    <!-- <div *ngIf="paymentForm.value.paymentMethod == 'card'"> -->
    <div formGroupName="card" *ngIf="paymentForm.value.paymentMethod == 'card'">
      <ion-item >
        <ion-label stacked>Número do cartão</ion-label>
        <ion-input type="number" formControlName="cardNumber" [attr.maxlength]="16" (ionChange)="getBrand()"></ion-input>
      </ion-item>
    </div>

  </ion-list>
</form>


<!-- <ion-list style="margin: 0" inset>
        <button ion-item *ngFor="let sItem of getSafariItems(safari)">
          <ion-icon item-start [name]="sItem.icon" color="primary"></ion-icon>
          {{ sItem.name }}
        </button> 
      </ion-list> -->
<!-- </ion-card-content> -->
<!-- </ion-card> -->